// Тут переменные 

$display-mobile: 320px;
$display-tablet: 768px;
$display-desktop: 1170px;

$bg-base: $BASE_WHITE;
$bg-primart: $PURPLE_9564AA;

$txt-clr-base: $BASE_WHITE;
$txt-clr-primary: $BASE_BLACK;
$txt-clr-secondary: $PURPLE_9564AA;

$icon-color-base: $PURPLE_9564AA;
$icon-color-hover: $YELLOW_FFCF2D;

$btn-bg-color: $BASE_WHITE;

$border-clr-base: $PURPLE_9564AA;
$border-clr-secondary: $RED_AA6464;
