<section class="service">
    <div class="container">
        <h2 class="visually-hidden">Service block</h2>
        <ul class="service__list list-style-none">
            <li class="service__item service__item--message">
                Отправлять сообщения
            </li>
            <li class="service__item service__item--premium">
                Пользоваться другими премиум функциями
            </li>
            <li class="service__item service__item--gift">
                Оплачивать подарки
            </li>
            <li class="service__item service__item--diamon"></li>
            <li class="service__item service__item--eye">
                Просматривать скрытые фото
            </li>
            <li class="service__item service__item--messages">
                Просматривать скрытые фото
            </li>
            <li class="service__item service__item--settings">
                Просматривать скрытые фото
            </li>
        </ul>
    </div>
</section>
